.card {
  background-color: #2a3a54;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 280px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card__image {
  width: 100%;
  height: 150px;
  background-color: #4a5a74;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.card:hover .card__image {
  background-color: #5a7aff;
}

.card__label {
  display: inline-block;
  background-color: #4a5a74;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.card__title {
  font-family: "Jura", "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin: auto;
}

.card__link {
  text-decoration: none;
  color: #fff;
}
