.ecopods {
  background-color: rgb(42, 58, 84);
  padding: 60px 40px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.ecopods__title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px;
}

.ecopods__description {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto 40px;
  max-width: 600px;
}

.ecopods__pods-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 310px));
  justify-content: center;
  gap: 20px 40px;
}

.ecopods__pod {
  position: relative;
  transition: transform 1s, box-shadow 1s;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ecopods__pod:hover {
  transform: scale(1.2);
}

.ecopods__pod-title {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 0;
  width: 100%;
}

.ecopods__pod-image {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: transform 0.5s;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.ecopods__pod-image:hover {
  box-shadow: 0px 0px 15px 0px white;
}

.ecopods__pod:hover .ecopods__pod-image {
  transform: scale(1.1);
}

@media screen and (max-width: 790px) {
  .ecopods__pods-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .ecopods__pod-image {
    height: 180px;
    width: 180px;
  }
}

@media screen and (max-width: 560px) {
  .ecopods__pod-image {
    height: 150px;
    width: 150px;
  }

  .ecopods__pods-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
