.header {
  padding-bottom: 20px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: "Jura", "Montserrat", sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #ffffff;
  margin: 28px 0 0;
  padding-left: 60px;
}

.header__navbar {
  display: flex;
  font-size: 32px;
  color: white;
  gap: 40px;
  padding: 20px;
}

.header__navbar_link {
  text-decoration: none;
  color: white;
}

@media (max-width: 1440px) {
  .header {
    padding: 0 20px 20px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 48px;
    padding-left: 20px;
  }
}
