.main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.main__content_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

@media (max-width: 1290px) {
  .main__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__content_cards {
    flex-direction: row;
  }
}

@media (max-width: 775px) {
  .main__content_cards {
    flex-direction: column;
  }
}
