* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Jura", "Montserrat", sans-serif;
  font-weight: 1000;
}

.page {
  background-image: linear-gradient(#242e42 0%, #010101 50%);
  color: #ffffff;
  padding: 20px;
}

