.social {
  gap: 10px;
  display: flex;
  flex-direction: column;
  background-color: #2a3a54;
  border-radius: 20px;
  max-width: 700px;
}

.social__title {
  font-family: "Jura", "Montserrat", sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  font-weight: 600;
  padding: 20px;
}

.social__icon-container {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.social__icon {
  border: none;
  padding: 5px;
  height: 70px;
  width: 70px;
}

.social__icon:hover {
  transform: scale(1.5);
  transition: 1.5s;
  justify-content: space-evenly;
}

@media screen and (max-width: 1290px) {
  .social {
    width: 80%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .social__icon {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 320px) {
  .social__title {
    font-size: 18px;
  }

  .social__icon-container {
    gap: 10px;
  }
}
