.social {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a3a54;
  border-radius: 20px;
  max-width: 700px;
}

.social__icon {
  width: 40px;
  height: 40px;
  border: none;
  padding: 5px;
  justify-content: space-evenly;
}

.social__title {
  font-family: "Jura", "Montserrat", sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 40px;
  max-width: 430px;
  max-height: 50px;
  font-weight: 600;
  padding: 20px;
}

.social__logos {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1290px) {
  .social {
    width: 80%;
    margin-top: 20px;
  }
}
