@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Jura.ttf);
@import url(../blocks/page.css);
@import url(../blocks/main.css);
@import url(../blocks/header.css);
@import url(../blocks/intro.css);
@import url(../blocks/quiz.css);
@import url(../blocks/social.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/eco-squad.css);
@import url(../blocks/ecopods.css);
@import url(../blocks/popup.css);
@import url(../blocks/footer.css);

  @keyframes scrollCards {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-240px * 8 - 160px)
      ); /* Adjusted for 8 cards */
    }
  }
}

@keyframes scrollCards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-280px * 8 - 160px)); /* Adjusted for 8 cards */
  }
}

@keyframes pulseAnimation {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}

